<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.splitur.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
<!--    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <queries>
        <!-- List of apps which you want to support for Intent pay -->
        <package android:name="net.one97.paytm" />
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="com.phonepe.app"/>

        <!--
             Specific intents you query for,
             eg: for a custom share UI
        -->
        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>
    </queries>

    <application
        android:name=".utils.Split"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/square_logo"
        android:label="@string/app_name"
        android:windowSoftInputMode="adjustResize"
        android:configChanges="orientation|keyboardHidden|screenSize|layoutDirection"
        android:roundIcon="@drawable/round_logo"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.Split"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.main.view.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.view.join_plans.CheckoutActivity"
            android:exported="false">

        </activity>

<!--        <activity-->
<!--            android:name="com.razorpay.CheckoutActivity"-->
<!--            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"-->
<!--            android:exported="true"-->
<!--            android:theme="@style/Theme.Split"-->
<!--            tools:replace="android:theme">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <data-->
<!--                    android:host="rzp.io"-->
<!--                    android:scheme="io.rzp" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

<!--        <receiver-->
<!--            android:name="com.razorpay.RzpTokenReceiver"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="rzp.device_token.share" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_JfD1x970QH2z2n" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <service
            android:name=".service.FirebaseCloudMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- Foreground services in Q+ require type. -->
        <activity
            android:name=".ui.main.view.dashboard.Dashboard"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.main.view.terms_conditions.TermsAndConditions"
            android:exported="false" />
        <activity
            android:name=".ui.main.view.avatar.ChooseAvatar"
            android:exported="false"
             />
        <activity
            android:name=".ui.main.view.user_id.UserId"
            android:exported="false"
             />
        <activity
            android:name=".ui.main.view.full_name.Name"
            android:exported="false"
             />
        <activity
            android:name=".ui.main.view.otp_verification.OtpVerification"
            android:exported="false"
            />
        <activity
            android:name=".ui.main.view.otp_phone_number.OtpNumber"
            android:exported="false"
            />
        <activity
            android:name=".ui.main.view.splash.Splash"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".utils.MyReceiver"
            android:exported="true">



        </receiver>
<!--        <receiver-->
<!--            android:name="com.splitur.app.utils.OtpReader"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.provider.Telephony.SMS_RECEIVED" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
        <receiver
            android:name=".utils.RefererDataReciever"
            android:exported="true"
            android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>