<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="split.com.app">

    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:name=".utils.Split"
        android:allowBackup="true"
        android:icon="@mipmap/aplit_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/aplit_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Split">


        <service
            android:name=".service.FirebaseCloudMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- Foreground services in Q+ require type. -->

        <activity
            android:name=".ui.main.view.dashboard.Dashboard"
            android:exported="false"
            android:screenOrientation="portrait"
            >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.main.view.terms_conditions.TermsAndConditions"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.main.view.avatar.ChooseAvatar"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.main.view.user_id.UserId"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.main.view.full_name.Name"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.main.view.otp_verification.OtpVerification"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.main.view.otp_phone_number.OtpNumber"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.main.view.splash.Splash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>